@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:300');

* {
    box-sizing: border-box;
    margin: 0;
}

:root {
    --gold: skyblue;
    --smoke: #E8E8E8;
    --light-yellow: #56aeFF;
    --smoke-black: black;
    --top-padding: 15vh;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background: #999;
    border-radius: 10px;
}

.content {
    --top-em: 20vh;
}

body {
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
    font-size: 16px;
    margin: 10px;
}

body.show-sidebar {
    overflow: hidden;
}

p {
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
    font-size: 1.875vw;
    color: white;
    margin: 10px;
}

span {
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
    font-size: 1.45vw;
    color: white;
    margin: 10px;
}

#text {
    font-size: 1.35vw;
    text-align: center;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 2.5vw;
    color: var(--gold);
    margin: 10px;
}

#heading {
    font-size: 2.35vw;
    text-align: center;
}

.black {
    color: var(--smoke-black) !important;
}

.yellow {
    color: var(--gold) !important;
}

.button {
    background-color: var(--gold);
    width: auto;
    /* height: auto; */
    height: 8vh;
    margin: 10px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 900;
    font-size: 1.5vw;
    padding: 5px;
    border-radius: 10px;
    border-width: 0;
    cursor: pointer;
}

/* Dropdown Button */
.dropbtn {
    background-color: rgba(255, 255, 255, 0);
    color: black;
    padding: 0 20px 0 0;
    margin: 0;
    font-size: 1.25vw;
    border: none;
    display: block;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    color: var(--light-yellow);
}

.button a {
    text-decoration: none;
    color: var(--smoke-black);
}

.-color-yellow {
    color: var(--gold);
}

.-color-smoke {
    color: #E8E8E8;
}

.-color-black {
    color: black;
}

nav {
    top: 0;
    left: 0;
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 100px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(255, 255, 255, 0);
}

nav .line {
    height: 2px;
    position: absolute;
    bottom: 0;
    margin: 10px 0 0 0;
    background: var(--light-yellow);
    z-index: 1001;
}

nav ul {
    padding: 20px;
    margin: 0;
    list-style: none;
    display: flex;
}

nav li {
    margin: 0 20px 0 0;
    opacity: 1;
    transition: all 0.4s ease;
}

nav li a:hover {
    opacity: 1;
    color: var(--light-yellow);
}

nav li .active {
    opacity: 1;
}

nav li:last-child {
    margin-right: 0
}

nav li a {
    text-decoration: none;
    color: var(--smoke-black);
    display: block;
    font-weight: 600;
    font-size: 1.25vw;
    font-family: 'Poppins', sans-serif;
}

.container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
}

.container section {
    min-width: 100%;
    height: auto;
    display: grid;
    height: 100vh;
}

.container section:nth-child(1) {
    padding-top: var(--top-padding);
    background-color: var(--smoke-black);
    /* grid-template-columns: 50% auto; */
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.container section:nth-child(2) {
    background-color: var(--gold);
    padding-top: var(--top-padding);
    grid-template-columns: 40% auto;
}

.container section:nth-child(3) {
    background-color: var(--gold);
    padding-top: var(--top-padding);
    grid-template-columns: 50% auto;
    grid-template-rows: 50% auto;

}

.container section:nth-child(4) {
    background-color: var(--smoke);
    padding-top: var(--top-padding);
    position: relative;
    overflow: hidden;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.container section:nth-child(5) {
    background-color: var(--smoke);
    padding-top: var(--top-padding);
    /* grid-template-columns: 50% auto; */
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.container section:nth-child(6) {
    /* background-color: var(--smoke-black); */
    background-image: url(../images/sharp.png) !important;
    -webkit-background-image: url(../images/sharp.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    /* padding-top: var(--top-padding); */
    grid-template-columns: 35% auto;
}

.change {
    width: 0;
    height: 0;
    border-right: 65vh solid var(--gold);
    border-left: 50vh solid black;
    border-top: 50vh solid black;
    border-bottom: 50vh solid black;
}

.black-box {
    background-color: black;
    color: white;
    padding: 20px 40px;
}

.yellow-box {
    background-color: var(--gold);
    padding: 20px 40px;
}

.yellow-box h2 {
    color: white;
}

.content {
    text-justify: inter-word;
    padding-top: var(--top-em);
}

.invert {
    color: var(--smoke-black);
    padding-left: 40px;
    padding-right: 40px;
}

.invert h2 {
    color: var(--gold);
}

.information {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 50%;
    left: -10%;
    transform: translateY(-50%);

}

.feature img {
    width: 70px;
}

.feature {
    position: absolute;
}

.mobile {
    width: 15vw;
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translateY(-50%);
    z-index: 10;
}

.box {
    z-index: 11;
    margin-left: 30vw;
    margin-top: 5vw;
    width: 40vw;
    background: var(--smoke-black);
    height: 45vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* border-radius: 50px; */
    transition: 1s;
    padding: 0 40px;
}

.controls {
    position: absolute;
    right: 15%;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    margin-left: 50px;
}

.controls h3 {
    font-size: 2.125vw;
    margin: 15px 0;
    color: black;
}

#upBtn {
    width: 5vw;
    height: 5vh;
    cursor: pointer;
    color: #3F3F3F;
}

#downBtn {
    width: 5vw;
    height: 5vh;
    cursor: pointer;
    color: #3F3F3F;
}

.overlay {
    width: 0;
    height: 0;
    border-top: 500px solid var(--gold);
    border-right: 500px solid var(--smoke);
    border-bottom: 500px solid var(--gold);
    border-left: 500px solid var(--gold);
    position: absolute;
    left: 0;
    top: 0;
}

#home {
    padding-left: 45px;
}

#img-1 {
    max-width: 90%;
    align-self: center;
    justify-self: center;
}

#about {
    padding-right: 80px;
    padding-left: 20px;
}

#img-2 {
    /* padding: 3em 10px 0 20px; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.gallery {
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 30px;
}

.gallery img {
    width: 100%;
    cursor: pointer;
}

.form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 80%;
    max-height: 70vh;
    /* max-height: 450px; */
    margin: 5vh auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form .input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 1vw;
}

.form .input-large {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    height: 60px;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 1vw;
}

.form button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: var(--smoke-black);
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 1vw;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}

.form button:hover,
.form button:active,
.form button:focus {
    background: #fcb90e;
}

.form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 0.75vw;
}

.form .message a {
    color: #fcb90e;
    text-decoration: none;
}

.form .register-form {
    display: none;
}

#details {
    padding-left: 40px;
    padding-right: 40px;
}

.mail-list-desktop {
    margin-top: 7vh;
    background-color: black;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}

.mail-list-desktop h2,
span {
    text-align: left;
    padding-right: 10px;
}

.mail-list-desktop .input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    height: 8vh;
    width: 65%;
    border: 0;
    box-sizing: border-box;
    font-size: 1vw;
    margin: 10px
}

.mail .button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: var(--gold);
    width: 20%;
    border: 0;
    border-radius: 0;
    color: #FFFFFF;
    font-size: 1vw;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}

.mail-list {
    background-color: black;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.custom-search {
    position: relative;
    width: 300px;
    margin: 20px auto;
    font-size: 16px;
}

.custom-search-input {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 100px;
    padding: 10px 100px 10px 20px;
    line-height: 2;
    font-size: 16px;
    box-sizing: border-box;
    outline: none;
}

.custom-search-botton {
    position: absolute;
    right: 3px;
    top: 3px;
    bottom: 3px;
    border: 0;
    background: var(--gold);
    color: #fff;
    outline: none;
    margin: 0;
    padding: 0 10px;
    border-radius: 100px;
    z-index: 2;
}

footer {
    background-color: var(--gold);
    color: white;
    text-align: center;
    text-decoration: none;
}

@media (max-width: 767px) {
    .container {
        display: none;
    }

    #large-devices {
        display: none;
    }

    body {
        margin: 0;
        padding: 0;
    }

    html {
        scroll-behavior: smooth;
    }

    h2 {
        font-size: 24px;
    }

    p {
        font-size: 18px;
    }

    b {
        font-size: 20px;
        color: black;
    }

    .nav {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 70px;
        /* background: #16161a; */
        /* background: rgba(255, 255, 255, 0); */
        background-color: var(--smoke-black);
        display: flex;
        align-items: center;
        padding: 0 20px;
        justify-content: space-between;
        box-sizing: border-box;
        margin-bottom: 40px;
        z-index: 2;
    }

    .nav h3 {
        text-decoration: none;
        color: var(--smoke);
        display: block;
        font-weight: 600;
        font-size: 34px;
        font-family: 'Poppins', sans-serif;
    }

    .menu strong {
        width: 30px;
        height: 4px;
        /* background: var(--smoke-black); */
        background-color: white;
        margin: 2px;
    }

    .sidebar {
        overflow-y: scroll
    }

    .sidebar {
        position: fixed;
        top: 0;
        left: 0;
        width: 270px;
        height: 100vh;
        bottom: 0;
        /* background: #16161a; */
        background: var(--smoke-black);
        padding: 20px;
        z-index: 9;
        color: #fff;
        transition: 0.3s ease;
        transform: translateX(-100%);
    }

    .sidebar.show {
        transform: translateX(0);
    }

    .sidebarOverlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0);
        /* Transparent initially */
        z-index: 8;
        /* Place it below the sidebar */
        pointer-events: none;
        /* Allow clicks to pass through to underlying elements */
        transition: background-color 0.3s ease;
        /* Smooth transition for background color */
    }

    .sidebar.show+.sidebarOverlay {
        /* Show overlay only when sidebar is shown */
        background-color: rgba(0, 0, 0, 0.6);
        /* Semi-transparent black background */
    }

    .sidebar h4 {
        margin-bottom: 10px;
        font-weight: bold;
        font-family: 'Poppins', sans-serif;
    }

    .sidebar a {
        display: block;
        font-size: 16px;
        padding: 8px;
        color: #fff;
        text-decoration: none;
        /* border-bottom: 1px solid #555; */
    }

    .menu {
        padding: 8px;
        display: flex;
        flex-direction: column;
        cursor: pointer;
    }

    .content-mobile {
        padding-top: 80px;
        background-color: var(--smoke-black);
    }

    .button {
        margin-top: 10px;
        margin-bottom: 80px;
        font-size: 14px;
        border: none;
    }

    #img-1 {
        max-width: 100%;
        align-self: center;
        justify-self: center;
    }

    .mobile-device section:nth-child(2) {
        background-color: var(--gold);
        padding-top: var(--top-padding);
        padding-left: 20px;
        padding-right: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .mobile-device section:nth-child(3) {
        background-color: var(--gold);
        padding-top: var(--top-padding);
        grid-template-columns: 50% auto;
        grid-template-rows: 50% auto;

    }

    .mobile-device section:nth-child(4) {
        background-color: var(--smoke);
        padding-top: var(--top-padding);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 20px 40px;
    }

    .mobile-device section:nth-child(5) {
        background-color: var(--smoke);
        padding-top: var(--top-padding);
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }

    #image-mobile {
        max-height: 250px;
        width: auto;
    }

    #upBtn-mobile {
        width: 20px;
        height: 20px;
        cursor: pointer;
        color: var(--smoke-black);
    }

    #downBtn-mobile {
        width: 20px;
        height: 20px;
        cursor: pointer;
        color: var(--smoke-black);
    }

    .content-contact {
        padding: 0 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .form {
        min-height: 400px;
        margin: 10px auto 50px;

    }

    .form .input {
        font-size: 14px;
    }

    .form .input-large {
        font-size: 14px;
    }

    .form button {
        font-size: 14px;
    }
}

@media (min-width: 768px) {
    .mobile-device {
        display: none;
    }

    #small-devices {
        display: none;
    }
}

@media (min-width: 1440px) {
    .overlay {
        border-top: 1000px solid var(--gold);
        border-right: 1000px solid var(--smoke);
        border-bottom: 1000px solid var(--gold);
        border-left: 1000px solid var(--gold);
        position: absolute;
        left: 0;
        top: 0;
    }

    .button {
        height: 6vh;
    }

    .mail-list-desktop .input {
        height: 6vh;
    }

    .form {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .form>.input,
    form>button {
        height: 6vh;
    }

    .form .input-large {
        height: 10vh;
    }
}